//breakpoints
$breakpointMobileSmall: 340px;
$breakpointMobile: 442px;
$breakpointTablet: 768px;
$breakpointLaptop: 1025px;
$breakpointLaptopBig: 1200px;
$breakpointDesktopBig: 1600px;

//colors
$lightGreen: #2d8078;
$darkGreen: #1c404c;
$orange: #cd4f41;
$sand: #f4d9ae;
$gold: #de9e46;